
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.navbar{
    display: flex;
    width: 100%;
    height: 97.5px;
    background-color: #cf2e2e;
 

}
.nav-left{
    display: flex;
  

}
.img-left{
    

    display: flex;
    align-items: center;
    margin-top: 2px;
    margin-right: 540px;
    margin-left: 147px;
    
}

.nav-right{
    display: flex;
    align-items: center;
    
    width: 70%;
}
.nav-right a{
    font-family: sans-serif;
    text-decoration: none;
      color: yellow;
      
      justify-content: end;
      padding: 20px;
      margin-right: 20px;
      text-align: end;
   
    
}

.img1{
    max-width: 1762px;
   
}
.mid2{
    display: flex;
   
}
.new{
    
    margin-top: 25px;
  font-family: sans-serif;
  font-size: 45px;
  font-weight: 500;
  text-align: center;
}

.box {
 
  line-height: 25px;
    color: gray;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    max-width: 50%;
    padding: 20px;

    margin-left: 100px;
    margin-top: 40px;
   height: fit-content;
}
.box1{
    height: 20.7rem;

    color: gray;
    line-height: 25px;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    max-width: 50%;
    padding: 20px;
  
}

.box2 {
    height: 400px;
  
    margin-top: 40px;
    max-width: 45%;
    margin-left: 100px;
}

.box2 h1{
    margin-top: 25px;
    font-family: sans-serif;
    font-size: 35px;
    font-weight: 600;

}

.box2 p{
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 20px;
    line-height: 25px;
    color: gray;
}
.mid3{
    display: flex;
}

.box3 img{
     margin-top: 39px;
   
    max-width: 90%;
    height: 400px;
}

#one{
    margin: 10px 0px 0px 10px;
    

}
#two{
    margin: 10px 40px 10px 10px;
}
.form{
    height: 500px;
}
.new1{
    margin-top: 45px;
     margin-bottom: 30px;
    font-family: sans-serif;
    font-size: 35px;
    font-weight: 600;
    text-align: center;

}
.new2{
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 400;
    padding: 20px;
    line-height: 25px;
    color: gray;
    margin-left: 80px;
}
.form{
    height: 1100px;
}

.three{
    
    margin-top: 25px;
   
    color: gray;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-left: 200px;
}
.four{
    background-color: whitesmoke;
width: 85.5%;
padding: 15px;
margin-top: 15px;
border: 1px solid #ececec ;

box-sizing: border-box;

}
input[type=text]:focus{
    outline: 2px solid skyblue;    
  }


.five{
    
    color: gray;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-top: 25px;
    margin-left: 200px;
}


#six{
    margin-left: 200px;
    margin-top: 10px;
    padding: 5px;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600px;
    border-radius: 4px;
}
#seven{
    margin-left: 200px;
    background-color: whitesmoke;
    border: 1px solid #ececec ;
    margin-top: 15px;
   

}
#seven:focus{
    outline: 2px solid skyblue;
}

#eight{
    margin-left: 240px;
    margin-top: 40px;
    padding: 3px 6px 4px 6px;
    font-family: sans-serif;
    font-size: 16px;
    cursor: pointer;
}